:root {
    --ratio: calc(16/9);
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    text-rendering: optimizeLegibility;
    background-color: gray;
}

.center {
  top: 50%;
  left: 50%;
}

h1 {
    width: 100%;
    color: #3439d1;
}

.hcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden {
  /* display: none; */
  opacity: 10%;
}

.left {
    width: 50%;
    float: left;
}

.page {
    background-color: white;
    width: 100vw;
    height: calc( 100vw / var(--ratio) );
    max-height: 100vh;
    max-width: calc(100vh * var(--ratio));
    margin: auto;
    position: absolute;
    /* top: 0; bottom: 0; */ /* vertical center */
    left: 0; right: 0; /* horizontal center */
}

.pagenum {
    font-size: smaller;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.title > .pagenum {
    display: none;
}

#slides {
    display: none;
}

.slide {
    padding: 0% 5%;
    height: 100%;
}

.title > h1 {
    margin-top: 2em;
    padding: 0.3em 0;
    text-align: center;
    color: white;
    background-color: #3439d1;
}

ul {
    margin-left: 1em;
    padding-left: 1em;
}

@media print {
    .hidden, .later {
        display: inherit;
        opacity: 100%;
    }
    div.slide {
        page-break-before: always;
    }
    .page {
        display: none;
    }
    #slides {
        display: inherit;
    }
}
